*{

box-sizing: border-box;
margin: 0;
font-size: 15px;
font-family: 'Nunito Sans', sans-serif;
}
body{
  background: rgb(0,0,0);
background: linear-gradient(310deg, rgba(0,0,0,1) 0%, rgba(0,149,243,1) 100%);
background-attachment: fixed;
}
section {
  width: 60%;
  margin: 0 auto;
  
}
a{
  text-decoration: none;
}

